.container {
  width: 1200px;
}

.first {
  font-size: 0;
}

.first>div {
  font-size: 15px;
  display: inline-block;
  width: 400px;
}

.first>div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: 5px solid green;
}

.second {
  font-size: 0;
}

.second div {
  outline: 5px solid green;
}

.second>div {
  display: inline-block;
  width: 800px;
  font-size: 20px;
}

.second>div>div {
  height: 200px;
}

.second>div+div {
  width: 400px;
}

.second>div+div>div {
  height: 133.33px;
}

.second>div img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.third {
  font-size: 0;
}

.third>div {
  font-size: 15px;
  display: inline-block;
  width: 400px;
}

.third>div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: 5px solid green;
}

.third>div>div {
  height: 100px;
}